body {
    background-color: lavender;
}

h1 {
    text-align: center;
}

label {
    margin-left: 10px;
}

.names {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.player {
    margin-left: 5px;
}

.butts {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.butt {
    border-radius: 5px;
    margin-left: 10px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.board {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
}

.row {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.square {
    border: 5px solid ;
    text-align: center;
    font-size: 24px;
}